# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Rust build artifacts
/target/
**/*.rs.bk  # Backup files
**/*.rlib  # Rust library files

# Cargo files
/Cargo.lock  # If you want to ignore the lock file (optional)
/Cargo.toml.bk  # Backup of Cargo.toml

# IDE or editor files
*.swp  # Vim swap files
*.swo  # Vim swap files
.idea/  # JetBrains IDE files
.vscode/  # Visual Studio Code files
*.iml  # IntelliJ IDEA files

# WASM output
*.wasm
*.wasm.map
wasm
